.bari {
    color: #314464;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0;
}

.koi {
    color: #2ddbac;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0;
    border-right:.1rem solid gray;
}

.bgChange {
    background-color: #f9fafa;
    border-bottom: 2px solid whitesmoke;
}

.docs {
    font-size: 25px;
    font-weight: bold;
}

.login {
    font-size: 1.3rem;
}

.signup {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgba(14,30,37,.87) !important
}

